<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>appSettings</key>
	<dict>
		<key>app.swiftgram.ios</key>
		<dict>
			<key>allowedTweaks</key>
			<array>
				<string>KeySwipe</string>
				<string>SmoothCursor</string>
				<string>ADockX</string>
			</array>
			<key>customTweakConfigurationEnabled</key>
			<true/>
		</dict>
		<key>cn.bswbw.DEB.backup</key>
		<dict>
			<key>tweakInjectionDisabled</key>
			<true/>
		</dict>
		<key>cn.gov.pbc.ecny</key>
		<dict>
			<key>tweakInjectionDisabled</key>
			<true/>
		</dict>
		<key>com.40sishi.calculator</key>
		<dict>
			<key>tweakInjectionDisabled</key>
			<true/>
		</dict>
		<key>com.alipay.iphoneclient</key>
		<dict>
			<key>allowedTweaks</key>
			<array/>
			<key>customTweakConfigurationEnabled</key>
			<true/>
		</dict>
		<key>com.apple.AppStore</key>
		<dict>
			<key>allowedTweaks</key>
			<array>
				<string> Crane</string>
			</array>
			<key>customTweakConfigurationEnabled</key>
			<false/>
		</dict>
		<key>com.apple.SafariViewService</key>
		<dict>
			<key>allowDenyMode</key>
			<integer>2</integer>
			<key>allowedTweaks</key>
			<array>
				<string>KeySwipe</string>
				<string>leftPan</string>
				<string>HammerIt</string>
				<string>CopyVaultHelper</string>
				<string>ADockX</string>
			</array>
			<key>customTweakConfigurationEnabled</key>
			<false/>
			<key>deniedTweaks</key>
			<array>
				<string>KbTool</string>
			</array>
			<key>tweakInjectionDisabled</key>
			<false/>
		</dict>
		<key>com.apple.mobilesafari</key>
		<dict>
			<key>allowDenyMode</key>
			<integer>2</integer>
			<key>allowedTweaks</key>
			<array>
				<string>ControlTab</string>
			</array>
			<key>customTweakConfigurationEnabled</key>
			<false/>
			<key>tweakInjectionDisabled</key>
			<false/>
		</dict>
		<key>com.apple.mobilesafari.SafariDiagnosticExtension</key>
		<dict>
			<key>allowDenyMode</key>
			<integer>2</integer>
			<key>allowedTweaks</key>
			<array/>
			<key>customTweakConfigurationEnabled</key>
			<true/>
			<key>deniedTweaks</key>
			<array>
				<string>KbTool</string>
			</array>
		</dict>
		<key>com.apple.mobilesafari.SafariLinkExtension</key>
		<dict>
			<key>customTweakConfigurationEnabled</key>
			<false/>
		</dict>
		<key>com.apple.springboard</key>
		<dict>
			<key>allowDenyMode</key>
			<integer>2</integer>
			<key>allowedTweaks</key>
			<array/>
			<key>customTweakConfigurationEnabled</key>
			<false/>
			<key>deniedTweaks</key>
			<array>
				<string>ColorfulWallpaperX</string>
			</array>
			<key>tweakInjectionDisabled</key>
			<false/>
		</dict>
		<key>com.apple.springboard.SpringBoardDiagnosticExtension</key>
		<dict>
			<key>customTweakConfigurationEnabled</key>
			<false/>
		</dict>
		<key>com.autonavi.amap</key>
		<dict>
			<key>allowedTweaks</key>
			<array>
				<string> Crane</string>
				<string>GDDTHookByX</string>
			</array>
			<key>customTweakConfigurationEnabled</key>
			<false/>
		</dict>
		<key>com.bankabc.iphonerelease</key>
		<dict>
			<key>tweakInjectionDisabled</key>
			<true/>
		</dict>
		<key>com.bankofXiaMen.com.bankofXiaMen</key>
		<dict>
			<key>tweakInjectionDisabled</key>
			<true/>
		</dict>
		<key>com.google.ios.youtube</key>
		<dict>
			<key>customTweakConfigurationEnabled</key>
			<false/>
		</dict>
		<key>com.growing.topwidgetsplus</key>
		<dict>
			<key>allowDenyMode</key>
			<integer>1</integer>
			<key>customTweakConfigurationEnabled</key>
			<false/>
			<key>tweakInjectionDisabled</key>
			<true/>
		</dict>
		<key>com.icbc.iphoneclient</key>
		<dict>
			<key>customTweakConfigurationEnabled</key>
			<false/>
			<key>tweakInjectionDisabled</key>
			<true/>
		</dict>
		<key>com.icbc.rspbank</key>
		<dict>
			<key>tweakInjectionDisabled</key>
			<true/>
		</dict>
		<key>com.meituan.imeituan</key>
		<dict>
			<key>allowDenyMode</key>
			<integer>2</integer>
			<key>customTweakConfigurationEnabled</key>
			<true/>
			<key>deniedTweaks</key>
			<array>
				<string>VolumeManager</string>
				<string>VolumeManagerAudioQueue</string>
			</array>
		</dict>
		<key>com.mika.LocationSimulation</key>
		<dict>
			<key>tweakInjectionDisabled</key>
			<false/>
		</dict>
		<key>com.mika.LocationSimulation.1</key>
		<dict>
			<key>tweakInjectionDisabled</key>
			<false/>
		</dict>
		<key>com.nssurge.inc.surge-ios</key>
		<dict>
			<key>allowedTweaks</key>
			<array>
				<string>ADockX</string>
				<string>AFHook</string>
				<string>CopyVaultHelper</string>
				<string>HammerIt</string>
				<string>KeySwipe</string>
				<string>leftPan</string>
			</array>
			<key>customTweakConfigurationEnabled</key>
			<false/>
		</dict>
		<key>com.oray.sunlogin.controlclient</key>
		<dict>
			<key>tweakInjectionDisabled</key>
			<false/>
		</dict>
		<key>com.pingan.haochezhu</key>
		<dict>
			<key>tweakInjectionDisabled</key>
			<true/>
		</dict>
		<key>com.pixelomer.shijimaprefs</key>
		<dict>
			<key>tweakInjectionDisabled</key>
			<true/>
		</dict>
		<key>com.seastar.turrit</key>
		<dict>
			<key>allowDenyMode</key>
			<integer>2</integer>
			<key>allowedTweaks</key>
			<array>
				<string>ADockX</string>
				<string>CopyVaultHelper</string>
				<string>AFHook</string>
				<string>HammerIt</string>
				<string>KeySwipe</string>
				<string>leftPan</string>
				<string> Crane</string>
				<string>SmoothCursor</string>
			</array>
			<key>customTweakConfigurationEnabled</key>
			<false/>
			<key>tweakInjectionDisabled</key>
			<false/>
		</dict>
		<key>com.ss.iphone.ugc.Aweme</key>
		<dict>
			<key>allowDenyMode</key>
			<integer>2</integer>
			<key>allowedTweaks</key>
			<array>
				<string>ADockX</string>
				<string>KeySwipe</string>
				<string>AwemeFullScreen</string>
				<string>KbTool</string>
				<string>SmoothCursor</string>
				<string>VolumeManagerAudioQueue</string>
				<string>VolumeManager</string>
				<string>AwemeVideoTime</string>
				<string>leftPan</string>
				<string>1aaa3</string>
				<string>DyHookbyX</string>
			</array>
			<key>customTweakConfigurationEnabled</key>
			<true/>
			<key>deniedTweaks</key>
			<array>
				<string>HammerIt</string>
				<string>BeanBunsHelpers</string>
				<string>AwemeDownloadMedia</string>
				<string>AwemeDisableBar</string>
			</array>
			<key>tweakInjectionDisabled</key>
			<false/>
		</dict>
		<key>com.ss.iphone.ugc.aweme.lite</key>
		<dict>
			<key>tweakInjectionDisabled</key>
			<true/>
		</dict>
		<key>com.svw.sc.mos</key>
		<dict>
			<key>tweakInjectionDisabled</key>
			<true/>
		</dict>
		<key>com.tencent.mqq</key>
		<dict>
			<key>allowDenyMode</key>
			<integer>1</integer>
			<key>allowedTweaks</key>
			<array/>
			<key>customTweakConfigurationEnabled</key>
			<false/>
		</dict>
		<key>com.tencent.qy.xin</key>
		<dict>
			<key>allowDenyMode</key>
			<integer>2</integer>
			<key>allowedTweaks</key>
			<array>
				<string>MiYou</string>
			</array>
			<key>customTweakConfigurationEnabled</key>
			<false/>
			<key>deniedTweaks</key>
			<array/>
			<key>tweakInjectionDisabled</key>
			<false/>
		</dict>
		<key>com.tencent.smoba</key>
		<dict>
			<key>tweakInjectionDisabled</key>
			<true/>
		</dict>
		<key>com.tencent.wx</key>
		<dict>
			<key>allowedTweaks</key>
			<array/>
			<key>customTweakConfigurationEnabled</key>
			<false/>
			<key>tweakInjectionDisabled</key>
			<false/>
		</dict>
		<key>com.tencent.xin</key>
		<dict>
			<key>allowDenyMode</key>
			<integer>2</integer>
			<key>allowedTweaks</key>
			<array>
				<string>KbTool</string>
				<string>微信小布丁</string>
				<string>WeChatAdBlocker</string>
				<string>WeChatTweak</string>
				<string>MisakaHelper</string>
				<string>libPineappleDylib</string>
				<string> Crane</string>
				<string>Laetus</string>
				<string>0SnapshotTool</string>
				<string>WCIsOverSeaUser</string>
				<string>DayNightSwitch</string>
				<string>wechatpepper</string>
				<string>KeySwipe</string>
				<string>leftPan</string>
				<string>wcplugins</string>
				<string>WeChatPopVC</string>
				<string>SmoothCursor</string>
				<string>ADockX</string>
				<string>CopyVaultHelper</string>
				<string>MiYou</string>
				<string>PKCWeChatTools</string>
			</array>
			<key>customTweakConfigurationEnabled</key>
			<true/>
			<key>deniedTweaks</key>
			<array>
				<string>xxuegao</string>
				<string>WeChatEnhance</string>
				<string>DouTu</string>
				<string>HammerIt</string>
				<string>FlexLoader</string>
				<string>flexlist汉化</string>
				<string>MsgFilt</string>
				<string>ThemeBox</string>
			</array>
			<key>overwriteGlobalTweakConfiguration</key>
			<false/>
			<key>tweakInjectionDisabled</key>
			<false/>
		</dict>
		<key>com.tigisoftware.Filza</key>
		<dict>
			<key>tweakInjectionDisabled</key>
			<false/>
		</dict>
		<key>com.wmzq.esportapp</key>
		<dict>
			<key>allowDenyMode</key>
			<integer>2</integer>
			<key>customTweakConfigurationEnabled</key>
			<false/>
			<key>tweakInjectionDisabled</key>
			<true/>
		</dict>
		<key>com.wmzq.esportapp.NotificationService</key>
		<dict>
			<key>customTweakConfigurationEnabled</key>
			<false/>
		</dict>
		<key>net.colorfulclouds.app.pro</key>
		<dict>
			<key>allowedTweaks</key>
			<array>
				<string>leftPan</string>
				<string>KeySwipe</string>
				<string>ADockX</string>
			</array>
			<key>customTweakConfigurationEnabled</key>
			<false/>
		</dict>
		<key>ph.telegra.Telegraph</key>
		<dict>
			<key>allowDenyMode</key>
			<integer>1</integer>
			<key>allowedTweaks</key>
			<array>
				<string>ADockX</string>
				<string>KeySwipe</string>
				<string>0SnapshotTool</string>
				<string>CopyVaultHelper</string>
				<string>HammerIt</string>
				<string>SmoothCursor</string>
			</array>
			<key>customTweakConfigurationEnabled</key>
			<false/>
			<key>deniedTweaks</key>
			<array>
				<string>leftPan</string>
			</array>
			<key>tweakInjectionDisabled</key>
			<true/>
		</dict>
		<key>ws.hbang.Terminal</key>
		<dict>
			<key>tweakInjectionDisabled</key>
			<false/>
		</dict>
	</dict>
	<key>daemonSettings</key>
	<dict>
		<key>com.apple.UIKit.KeyboardManagement</key>
		<dict>
			<key>allowDenyMode</key>
			<integer>1</integer>
			<key>customTweakConfigurationEnabled</key>
			<false/>
			<key>tweakInjectionDisabled</key>
			<false/>
		</dict>
		<key>mediaserverd</key>
		<dict>
			<key>tweakInjectionDisabled</key>
			<false/>
		</dict>
	</dict>
	<key>dontShowWarningAgain</key>
	<integer>1</integer>
	<key>globalDeniedTweaks</key>
	<array>
		<string>DYYY</string>
	</array>
	<key>preferenceVersion</key>
	<integer>1</integer>
</dict>
</plist>
