Package: com.aple.wapleodtcorexpc
Name: 微信辣椒
Depends: mobilesubstrate
Version: 1.8.6
Architecture: iphoneos-arm
Description: 微信辣椒 - WeChat Enhancement Plugin
Maintainer: guanxi
Author: guanxi
Section: Tweaks
